<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--settings控制mybatis全局行为-->
    <!--<settings>
        &lt;!&ndash;设置日志输出&ndash;&gt;
        <setting name="logImpl" value="STDOUT-LOGGING"/>
    </settings>-->

    <!--为该包下的所有实体类名称起别名（小写首字母即可）-->
    <typeAliases>
        <package name="com.domain"/>
    </typeAliases>

    <mappers>
        <!--<mapper resource="dao/StudentDao.xml" />-->
        <package name="com.dao"/>
    </mappers>
</configuration>